<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Add new Rabbit</title>
</head>
<body>
  <h1>Add New Rabbit</h1>
  <h2>Fill out the following info:</h2>
  <form class="" action="/rabbits" method="post">
    <label for="">Name:</label>
    <input type="text" name="name" value="">
    <label for="">Age:</label>
    <input type="text" name="age" value="">
    <label for="">Color:</label>
    <select class="" name="color">
      <option value="Black">Black</option>
      <option value="White">White</option>
      <option value="Brown">Brown</option>
      <option value="Gray">Gray</option>
    </select>
    <label for="">Cuteness Level:</label>
    <input type="text" name="level" value="">
    <label for="">Added by:</label>
    <input type="text" name="added_by" value="">
    <button type="submit">Add Rabbit</button>
  </form>
</body>
</html>
